
/* ========= common css ============ */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

.btn-primary {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: 2px solid #333;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-outline {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-outline:hover {
    color: white;
    background-color: #333;
}

/* ========== navbar css =============== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    /* background-color: #f0eeee; */
}

.title-container {
    text-align: center;
    margin: 20px auto;
    width: 60%;
}

.title-container h1 {
    font-size: 36px;
    font-weight: 700px;
    margin-top: 60px;
}
.title-container p {
    font-size: 16px;
    font-weight: 500px;
}

footer {
    padding: 5px auto;
    background-color: #d9d9d9;
}

footer div {
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

/* banner design */
.banner-container {
    /* height: 100vh; */
    width: 100%;
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content {
    padding: 30px;
    text-align: center;
}
.banner-content img {
    width: 180px;
    height: 180px;
}
.banner-content h1 {
    font-size: 48px;
    width: 60%;
    margin: 0 auto;
    font-weight: 700;
}
.banner-content p {
    font-size: 16px;
    width: 60%;
    margin: 40px auto;
    font-weight: 500;
}

/* Blog card */
.blog-container {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 100px;
    width: 100%;
    margin-top: 100px;
}



.blog-cart{
 display: flex;
 align-items: center;
 justify-content: space-between;
 /* width: 100%; */
 margin: 0 auto;
 border-radius: 10px;
 padding: 20px;
 margin-bottom: 24px;
}

.cart-bg1{
    background: linear-gradient(to right, #ffffff, #f3f3f3);
}
.cart-bg2{
    background: linear-gradient(to right, #f3f3f3, #ffffff);
}

/* inspire section */

.inspire-cart {
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    padding: 20px;
}


/* my current target section */
.current-target-container {
    display: flex;
    column-gap: 20px;
    margin: 60px auto;
}
.current-target-cart {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}
.current-target-cart h1 {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}
.current-target-cart p {
    font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.current-target-cart a {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

/* cta banner section */

.cta-banner{
    width: 100%;
    background-image: url('../assets//handshake.jpg');
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    padding: 24px;
    background-color: #0000009d;
    margin-bottom: 60px;
}
.cta-banner h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}
.cta-banner p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 60px;
}

.input-filed-container{
    display: flex;
    align-items: center;
    column-gap: 20px;
    max-width: 800px;
    margin: 20px auto;

}
.input-filed-container input{
    box-sizing: border-box;
border-radius: 8px;
background: rgb(255, 255, 255);
padding: 16px;
width: 100%;
}
.input-filed-container button{
    box-sizing: border-box;
border-radius: 8px;
background: rgb(255, 255, 255);
padding: 14px 36px;
font-size: 20px;
font-weight: 700;

}

/* footer desing */

footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer div ul {
    display: flex;
    align-items: center;
    gap: 8px;
}
footer div ul li {
    list-style: none;
    margin: 0 10px;
}